<div class="row no-gutters">

    <div class="col-12 m-auto px-5 pt-5 pb-0">
        <div class="row no-gutters">
            <div class="col-12 p-2 py-3">
                <h1 class="title">Thời tiết thứ 3 ngày 6-9-96</h1>
            </div>

            <div class="col-3 p-2">
                <div class="shadow location">
                    <div class="weather-bg">
                        <img class="m-auto" src="./assets/img/{{(weather && weather.current_condition[0].weatherCode )}}.jpg">
                    </div>
                    <div class="location-info text-center">
                        <p class="mb-0">
                          Ngay bây giờ
                          <!--{{(weather && weather.date ) || 'Hôm nay'}}-->
                        </p>
                        <h3 class="py-3 m-0">
                          Hà Nội
                          <!-- {{(weather && weather.city ) || '--'}} -->
                        </h3>
                        <p class="mb-0">
                          Mưa
                          <!-- {{(weather && weather.title ) || '--'}} -->
                        </p>
                        <div class="d-block img my-2">
                            <img class="m-auto" src="./assets/img/{{(weather && weather.current_condition[0].weatherCode )}}.png">
                        </div>
                        <h1>
                            29
                            <!-- {{(weather && weather.temp_C ) || '--'}} -->
                            <span>C</span>
                        </h1>
                        <p class="py-1">
                            Cảm giác thật: 30
                            <!-- Cảm giác thật: {{(weather && weather.FeelsLikeC ) || '--'}} -->
                            <span>C</span>
                        </p>
                        <div class="row no-gutters shadow stats py-2">
                            <div class="col-4 divider-right">
                                <p class="m-0">Độ ẩm</p>
                                <img src="./assets/img/humidity.png" class="d-block small-icon">
                                <p class="m-0">
                                  Độ ẩm: 69
                                  <!-- {{(weather && weather.humidity ) || '--'}} -->
                                </p>
                            </div>
                            <div class="col-4 divider-right">
                                <p class="m-0">Gió</p>
                                <img src="./assets/img/wind.png" class="d-block small-icon">
                                <p class="m-0">
                                  69(km/h)
                                  <!-- {{(weather && weather.windspeedKmph ) || '--'}} (km/h) -->
                                </p>
                            </div>
                            <div class="col-4">
                                <p class="m-0">Tia UV</p>
                                <img src="./assets/img/UV.png" class="d-block small-icon">
                                <p class="m-0">
                                  96
                                  <!-- {{(weather && weather.uvIndex ) || '--'}} -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9 p-2">
              <div class="hourly-forecast">
                <table class="table table-bordered table-hovered hourly">
                  <thead>
                    <tr>
                      <th>Giờ</th>
                      <th>Dự đoán</th>
                      <th>Nhiệt độ( <span>C</span> )</th>
                      <th>Cảm giác thật( <span>C</span> )</th>
                      <th>Tốc độ gió(km/h)</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>3h</td>
                      <td>Mưa to</td>
                      <td>29</td>
                      <td>31</td>
                      <td>69</td>
                      <td>
                        <img src="./assets/img/rain-icon.png" alt="">
                      </td>
                    </tr>
                    <tr>
                      <td>3h</td>
                      <td>Mưa to</td>
                      <td>29</td>
                      <td>31</td>
                      <td>69</td>
                      <td>
                        <img src="./assets/img/rain-icon.png" alt="">
                      </td>
                    </tr>
                    <tr>
                      <td>3h</td>
                      <td>Mưa to</td>
                      <td>29</td>
                      <td>31</td>
                      <td>69</td>
                      <td>
                        <img src="./assets/img/rain-icon.png" alt="">
                      </td>
                    </tr>
                    <tr>
                      <td>3h</td>
                      <td>Mưa to</td>
                      <td>29</td>
                      <td>31</td>
                      <td>69</td>
                      <td>
                        <img src="./assets/img/rain-icon.png" alt="">
                      </td>
                    </tr>
                    <tr>
                      <td>3h</td>
                      <td>Mưa to</td>
                      <td>29</td>
                      <td>31</td>
                      <td>69</td>
                      <td>
                        <img src="./assets/img/rain-icon.png" alt="">
                      </td>
                    </tr>
                    <tr>
                      <td>3h</td>
                      <td>Mưa to</td>
                      <td>29</td>
                      <td>31</td>
                      <td>69</td>
                      <td>
                        <img src="./assets/img/rain-icon.png" alt="">
                      </td>
                    </tr>
                    <tr>
                      <td>3h</td>
                      <td>Mưa to</td>
                      <td>29</td>
                      <td>31</td>
                      <td>69</td>
                      <td>
                        <img src="./assets/img/rain-icon.png" alt="">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- <ul class="list-group hourly">
                <li class="list-group-item list-group-item-action">
                  <div class="hour m-auto">0h</div>
                  <div class="weather-desciption m-auto">Mưa to</div>
                  <div class="temp m-auto">29</div>
                  <div class="real-feel m-auto">31</div>
                  <div class="weather-icon m-auto">weatherCode</div>
                </li>
                <li class="list-group-item list-group-item-action">3h</li>
                <li class="list-group-item list-group-item-action">6h</li>
                <li class="list-group-item list-group-item-action">9h</li>
                <li class="list-group-item list-group-item-action">12h</li>
                <li class="list-group-item list-group-item-action">15h</li>
                <li class="list-group-item list-group-item-action">18h</li>
                <li class="list-group-item list-group-item-action">21h</li>
              </ul> -->
            </div>
        </div>
    </div>
</div>
