.navbar{
  justify-content: space-between;
  a{
    color: #fff;
  }
}

.navbar-brand{
  font-size: 30px;
  position: relative;
  padding-left: 20px;
  img{
    width: 50px;
    margin-right: 10px;
  }
}

.navbar-nav{
  flex-direction: row!important;
  margin-left: 20px;
}

.nav-link{
  margin-right: 10px;
  position: relative;
  font-size: 20px;
  display: block;
  padding: 10px!important;
  &:after{
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transition: all .3s ease;
    z-index: -1;
  }
  &.active{
    &:after{
      background: #fff;
    }
  }
  &:hover{
    &:after{
      height: 100%;
      box-shadow: 0 .5rem 1rem rgba(#000, .15);
      border-radius: 3px;
    }
    &:first-child:after{
      background: #7f7fd5;
    }
    &:nth-child(2):after{
      background: #5bdb96;
    }
    &:last-child:after{
      background: #eea65b;
    }
  }
}

.sun{
  animation: sun-spin 10s linear infinite;
}

@keyframes sun-spin{
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.cloud{
  position: absolute;
  display: block;
  transform: scale(.9);
  left: 2px;
  bottom: -8px;
}

.location-input{
  padding: 0;
  input{
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    transition: all .3s ease;
    &:focus{
      box-shadow: 0 .5rem 1rem rgba(#000, .3)
    }
  }
}
