<div class="row m-0">
  <div class="col-10 pt-5 m-auto testimonial">
    <div class="header shadow">
      <img src="./assets/img/team.jpg" alt="">
      <div class="bg d-flex">
        <h1 class="title text-center m-auto">Nhóm Angola</h1>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-4 pr-2">
        <div class="row no-gutters profile shadow mb-4">
          <div class="col-4">
            <div class="circle-img">
              <img src="./assets/img/profile-hoang.PNG" alt="">
            </div>
          </div>
          <div class="col-8">
            <p class="name">Đào Huy Hoàng</p>
            <p class="m-0">Back-end Developer</p>
            <div class="role">
              <p class="m-0">- Tìm kiếm tin tức và hình ảnh</p>
              <p class="m-0">- Xử lý và lấy dữ liệu từ API tin tức thòi tiết</p>
            </div>
          </div>
        </div>
        <div class="row no-gutters profile shadow mb-4">
          <div class="col-4">
            <div class="circle-img">
              <img src="./assets/img/profile-phong.jpg" alt="">
            </div>
          </div>
          <div class="col-8">
            <p class="name">Cồ Triệu Phong</p>
            <p class="m-0">Team Leader | Front-end Developer</p>
            <div class="role">
              <p class="m-0">- Thiết kế giao diện trang chủ và trang thông tin nhóm</p>
              <p class="m-0">- Tạo và xử lý animation cho các hình ảnh, icon thời tiết</p>
              <p class="m-0">- Đánh giá chất lượng công việc của thành viên</p>
            </div>
          </div>
        </div>
        <div class="row no-gutters profile shadow mb-4">
          <div class="col-4">
            <div class="circle-img">
              <img src="./assets/img/profile-duytung.PNG" alt="">
            </div>
          </div>
          <div class="col-8">
            <p class="name">Nguyễn Duy Tùng</p>
            <p class="m-0">UI Designer</p>
            <p class="role">- Vẽ Mockup, tìm kiếm hình ảnh tư liệu</p>
          </div>
        </div>
      </div>
      <div class="col-4 px-2">
        <div class="row no-gutters profile shadow mb-4">
          <div class="col-4">
            <div class="circle-img">
              <img src="./assets/img/profile-minh.PNG" alt="">
            </div>
          </div>
          <div class="col-8">
            <p class="name">Lê Quang Minh</p>
            <p class="m-0">Front-end Developer</p>
            <div class="role">
              <p class="m-0">- Thiết kế giao diện trang tin tức và trang chi tiết tin tức</p>
              <p class="m-0">- Xử lý thanh tìm kiếm địa điểm và hiển thị kết quả</p>
            </div>
          </div>
        </div>
        <div class="row no-gutters profile shadow mb-4">
          <div class="col-4">
            <div class="circle-img">
              <img src="./assets/img/profile-buitien.PNG" alt="">
            </div>
          </div>
          <div class="col-8">
            <p class="name">Bùi Minh Tiến</p>
            <p class="m-0">Javascript Developer</p>
            <div class="role">
              <p class="m-0">- Viết script lấy thông tin từ API</p>
              <p class="m-0">- Tự động lấy vị trí hiện tại của người dùng</p>
            </div>
          </div>
        </div>
        <div class="row no-gutters profile shadow mb-4">
          <div class="col-4">
            <div class="circle-img">
              <img src="./assets/img/profile-thao.PNG" alt="">
            </div>
          </div>
          <div class="col-8">
            <p class="name">Trần Thị Thu Thảo</p>
            <p class="m-0">UI Designer</p>
            <div class="role">
              <p class="m-0">- Vẽ mockup rồi chuyển sang photoshop</p>
              <p class="m-0">- Tìm kiếm các hình ảnh, bài viết về thời tiết</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 pl-2">
        <div class="row no-gutters profile shadow mb-4">
          <div class="col-4">
            <div class="circle-img">
              <img src="./assets/img/profile-vantien.PNG" alt="">
            </div>
          </div>
          <div class="col-8">
            <p class="name">Nguyễn Văn Tiến</p>
            <p class="m-0">Back-end Developer</p>
            <div class="role">
              <p class="m-0">- Xử lý và lấy dữ liệu từ API tin tức thời tiết</p>
              <p class="m-0">- Lấy thông tin thời tiết theo vị trí người dùng nhập</p>
            </div>
          </div>
        </div>
        <div class="row no-gutters profile shadow mb-4">
          <div class="col-4">
            <div class="circle-img">
              <img src="./assets/img/profile-manhdung.PNG" alt="">
            </div>
          </div>
          <div class="col-8">
            <p class="name">Đỗ Mạnh Dũng</p>
            <p class="m-0">UI Designer</p>
            <div class="role">
              <p class="m-0">- Vẽ Mockup, tìm kiếm hình ảnh tư liệu</p>
            </div>
          </div>
        </div>
        <div class="row no-gutters profile shadow mb-4">
          <div class="col-4">
            <div class="circle-img">
              <img src="./assets/img/profile-sinhdung.PNG" alt="">
            </div>
          </div>
          <div class="col-8">
            <p class="name">Nguyễn Sinh Dũng</p>
            <p class="m-0">UI Designer</p>
            <div class="role">
              <p class="m-0">- Vẽ Mockup, tìm kiếm hình ảnh tư liệu</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
