<div class="row no-gutters">

  <div class="col-12 m-auto p-5">
    <div class="row no-gutters">
      <div class="col-12 p-2 py-3">
        <h1 class="title">Thời tiết 7 ngày tới</h1>
      </div>

      <!-- Thời tiết 7 ngày tới -->

      <div class="col-3 p-2 pb-5">
        <div class="location-input box mb-4">
          <input type="text" class="text-center shadow" placeholder="Nhập vị trí của bạn" (input)="getProvince($event)" [value]="input">
          <div class="location-input-result">
            <ul>
              <li *ngFor="let result of results" (click)="bindResultToInput(result)">
                {{result}}
              </li>
            </ul>
          </div>
        </div>
        <div class="shadow location">
          <div class="location-info text-center">
            <p class="mb-0">Hôm nay</p>
            <h3 class="py-3">Hanoi, Vietnam</h3>
            <p class="mb-0">Ẩm và nhiều mây</p>
            <img src="./assets/img/cloud-icon.png" class="d-block m-auto">
            <h1>27 <span>C</span></h1>
            <p class="py-1">Cảm giác thật: 30 <span>C</span></p>
            <div class="row no-gutters shadow stats py-2">
              <div class="col-4 divider-right">
                <p class="m-0">Độ ẩm</p>
                <img src="./assets/img/humidity.png" class="d-block small-icon">
                <p class="m-0">67</p>
              </div>
              <div class="col-4 divider-right">
                <p class="m-0">Gió</p>
                <img src="./assets/img/wind.png" class="d-block small-icon">
                <p class="m-0">112(km/h)</p>
              </div>
              <div class="col-4">
                <p class="m-0">Tia UV</p>
                <img src="./assets/img/UV.png" class="d-block small-icon">
                <p class="m-0">78</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9 p-2 pb-5">
        <div class="shadow-lg d-flex week box">
          <div class="day sunny active">
            <div class="forecast-container">
              <p class="p-2">Thứ 4</p>
              <img src="./assets/img/sun-icon.png" class="d-block m-auto big-icon py-3">
              <h1>27 <span>C</span></h1>
              <div class="row no-gutters shadow day-stats active py-2">
                <div class="col-12">
                  <p class="m-0">Ẩm và nhiều mây</p>
                  <p class="py-1 m-0">Cảm giác thật: 30 <span>C</span></p>
                </div>
                <div class="col-4 divider-right">
                  <p class="m-0">Độ ẩm</p>
                  <img src="./assets/img/humidity.png" class="d-block small-icon">
                  <p class="m-0">67</p>
                </div>
                <div class="col-4 divider-right">
                  <p class="m-0">Gió</p>
                  <img src="./assets/img/wind.png" class="d-block small-icon">
                  <p class="m-0">112(km/h)</p>
                </div>
                <div class="col-4">
                  <p class="m-0">Tia UV</p>
                  <img src="./assets/img/UV.png" class="d-block small-icon">
                  <p class="m-0">78</p>
                </div>
              </div>
            </div>
          </div>
          <div class="day cloudy">
            <div class="forecast-container">
              <p class="p-2">Thứ 4</p>
              <img src="./assets/img/sun-icon.png" class="d-block m-auto big-icon py-3">
              <h1>27 <span>C</span></h1>
              <div class="row no-gutters shadow day-stats py-2">
                <div class="col-12">
                  <p class="m-0">Ẩm và nhiều mây</p>
                  <p class="py-1 m-0">Cảm giác thật: 30 <span>C</span></p>
                </div>
                <div class="col-4 divider-right">
                  <p class="m-0">Độ ẩm</p>
                  <img src="./assets/img/humidity.png" class="d-block small-icon">
                  <p class="m-0">67</p>
                </div>
                <div class="col-4 divider-right">
                  <p class="m-0">Gió</p>
                  <img src="./assets/img/wind.png" class="d-block small-icon">
                  <p class="m-0">112(km/h)</p>
                </div>
                <div class="col-4">
                  <p class="m-0">Tia UV</p>
                  <img src="./assets/img/UV.png" class="d-block small-icon">
                  <p class="m-0">78</p>
                </div>
              </div>
            </div>
          </div>
          <div class="day sunny">
            <div class="forecast-container">
              <p class="p-2">Thứ 4</p>
              <img src="./assets/img/sun-icon.png" class="d-block m-auto big-icon py-3">
              <h1>27 <span>C</span></h1>
              <div class="row no-gutters shadow day-stats py-2">
                <div class="col-12">
                  <p class="m-0">Ẩm và nhiều mây</p>
                  <p class="py-1 m-0">Cảm giác thật: 30 <span>C</span></p>
                </div>
                <div class="col-4 divider-right">
                  <p class="m-0">Độ ẩm</p>
                  <img src="./assets/img/humidity.png" class="d-block small-icon">
                  <p class="m-0">67</p>
                </div>
                <div class="col-4 divider-right">
                  <p class="m-0">Gió</p>
                  <img src="./assets/img/wind.png" class="d-block small-icon">
                  <p class="m-0">112(km/h)</p>
                </div>
                <div class="col-4">
                  <p class="m-0">Tia UV</p>
                  <img src="./assets/img/UV.png" class="d-block small-icon">
                  <p class="m-0">78</p>
                </div>
              </div>
            </div>
          </div>
          <div class="day sunny">
            <div class="forecast-container">
              <p class="p-2">Thứ 4</p>
              <img src="./assets/img/sun-icon.png" class="d-block m-auto big-icon py-3">
              <h1>27 <span>C</span></h1>
              <div class="row no-gutters shadow day-stats py-2">
                <div class="col-12">
                  <p class="m-0">Ẩm và nhiều mây</p>
                  <p class="py-1 m-0">Cảm giác thật: 30 <span>C</span></p>
                </div>
                <div class="col-4 divider-right">
                  <p class="m-0">Độ ẩm</p>
                  <img src="./assets/img/humidity.png" class="d-block small-icon">
                  <p class="m-0">67</p>
                </div>
                <div class="col-4 divider-right">
                  <p class="m-0">Gió</p>
                  <img src="./assets/img/wind.png" class="d-block small-icon">
                  <p class="m-0">112(km/h)</p>
                </div>
                <div class="col-4">
                  <p class="m-0">Tia UV</p>
                  <img src="./assets/img/UV.png" class="d-block small-icon">
                  <p class="m-0">78</p>
                </div>
              </div>
            </div>
          </div>
          <div class="day cloudy">
            <div class="forecast-container">
              <p class="p-2">Thứ 4</p>
              <img src="./assets/img/sun-icon.png" class="d-block m-auto big-icon py-3">
              <h1>27 <span>C</span></h1>
              <div class="row no-gutters shadow day-stats py-2">
                <div class="col-12">
                  <p class="m-0">Ẩm và nhiều mây</p>
                  <p class="py-1 m-0">Cảm giác thật: 30 <span>C</span></p>
                </div>
                <div class="col-4 divider-right">
                  <p class="m-0">Độ ẩm</p>
                  <img src="./assets/img/humidity.png" class="d-block small-icon">
                  <p class="m-0">67</p>
                </div>
                <div class="col-4 divider-right">
                  <p class="m-0">Gió</p>
                  <img src="./assets/img/wind.png" class="d-block small-icon">
                  <p class="m-0">112(km/h)</p>
                </div>
                <div class="col-4">
                  <p class="m-0">Tia UV</p>
                  <img src="./assets/img/UV.png" class="d-block small-icon">
                  <p class="m-0">78</p>
                </div>
              </div>
            </div>
          </div>
          <div class="day rainny">
            <div class="forecast-container">
              <p class="p-2">Thứ 4</p>
              <img src="./assets/img/sun-icon.png" class="d-block m-auto big-icon py-3">
              <h1>27 <span>C</span></h1>
              <div class="row no-gutters shadow day-stats py-2">
                <div class="col-12">
                  <p class="m-0">Ẩm và nhiều mây</p>
                  <p class="py-1 m-0">Cảm giác thật: 30 <span>C</span></p>
                </div>
                <div class="col-4 divider-right">
                  <p class="m-0">Độ ẩm</p>
                  <img src="./assets/img/humidity.png" class="d-block small-icon">
                  <p class="m-0">67</p>
                </div>
                <div class="col-4 divider-right">
                  <p class="m-0">Gió</p>
                  <img src="./assets/img/wind.png" class="d-block small-icon">
                  <p class="m-0">112(km/h)</p>
                </div>
                <div class="col-4">
                  <p class="m-0">Tia UV</p>
                  <img src="./assets/img/UV.png" class="d-block small-icon">
                  <p class="m-0">78</p>
                </div>
              </div>
            </div>
          </div>
          <div class="day rainny">
            <div class="forecast-container">
              <p class="p-2">Thứ 4</p>
              <img src="./assets/img/sun-icon.png" class="d-block m-auto big-icon py-3">
              <h1>27 <span>C</span></h1>
              <div class="row no-gutters shadow day-stats py-2">
                <div class="col-12">
                  <p class="m-0">Ẩm và nhiều mây</p>
                  <p class="py-1 m-0">Cảm giác thật: 30 <span>C</span></p>
                </div>
                <div class="col-4 divider-right">
                  <p class="m-0">Độ ẩm</p>
                  <img src="./assets/img/humidity.png" class="d-block small-icon">
                  <p class="m-0">67</p>
                </div>
                <div class="col-4 divider-right">
                  <p class="m-0">Gió</p>
                  <img src="./assets/img/wind.png" class="d-block small-icon">
                  <p class="m-0">112(km/h)</p>
                </div>
                <div class="col-4">
                  <p class="m-0">Tia UV</p>
                  <img src="./assets/img/UV.png" class="d-block small-icon">
                  <p class="m-0">78</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- End thời tiết 7 ngày -->

      <!-- Khu vực khác -->

      <div class="col-12 p-2 py-3">
        <h1 class="title py-3">Khu vực khác</h1>
        <div class="row no-gutters">

          <!-- Line 1 -->

          <div class="col-4 py-2 pr-2 pl-0 city-forecast">
            <div class="city">
              <div class="city-bg p-2">
                <h4>Hà Nội</h4>
                <h1>29 <span>C</span></h1>
                <img src="./assets/img/sun-icon.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-4 p-2 city-forecast">
            <div class="city">
              <div class="city-bg p-2">
                <h4>Hải Phòng</h4>
                <h1>21 <span>C</span></h1>
                <img src="./assets/img/rain-icon.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-4 py-2 pl-2 pr-0 city-forecast">
            <div class="city">
              <div class="city-bg p-2">
                <h4>Đà nẵng</h4>
                <h1>24 <span>C</span></h1>
                <img src="./assets/img/cloud-icon.png" alt="">
              </div>
            </div>
          </div>

          <!-- Line 2 -->

          <div class="col-4 py-2 pr-2 pl-0 city-forecast">
            <div class="city">
              <div class="city-bg p-2">
                <h4>Nha Trang</h4>
                <h1>29 <span>C</span></h1>
                <img src="./assets/img/sun-icon.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-4 p-2 city-forecast">
            <div class="city">
              <div class="city-bg p-2">
                <h4>Huế</h4>
                <h1>23 <span>C</span></h1>
                <img src="./assets/img/sun-icon.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-4 py-2 pl-2 pr-0 city-forecast">
            <div class="city">
              <div class="city-bg p-2">
                <h4>Hạ Long</h4>
                <h1>27 <span>C</span></h1>
                <img src="./assets/img/rain-icon.png" alt="">
              </div>
            </div>
          </div>

          <!-- Line 3 -->

          <div class="col-4 py-2 pr-2 pl-0 city-forecast">
            <div class="city">
              <div class="city-bg p-2">
                <h4>Sài Gòn</h4>
                <h1>22 <span>C</span></h1>
                <img src="./assets/img/rain-icon.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-4 p-2 city-forecast">
            <div class="city">
              <div class="city-bg p-2">
                <h4>Cần Thơ</h4>
                <h1>28 <span>C</span></h1>
                <img src="./assets/img/sun-icon.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-4 py-2 pl-2 pr-0 city-forecast">
            <div class="city">
              <div class="city-bg p-2">
                <h4>Biên Hòa</h4>
                <h1>22 <span>C</span></h1>
                <img src="./assets/img/cloud-icon.png" alt="">
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- End khu vực khác -->
    </div>
  </div>

</div>
