<div class="row no-gutters">

  <div class="col-12 m-auto p-5">
    <div class="row no-gutters">
      <div class="col-12 p-2 py-3">
        <h1 class="title">Thời tiết 7 ngày tới</h1>
      </div>
      <div class="col-3 p-2">
        <div class="location-input box mb-4">
          <input type="text" class="text-center shadow" placeholder="Nhập vị trí của bạn">
        </div>
        <div class="shadow location">
          <div class="location-info text-center">
            <p class="mb-0">Hôm nay</p>
            <h3 class="py-3">Hanoi, Vietnam</h3>
            <p class="mb-0">Ẩm và nhiều mây</p>
            <img src="./assets/img/cloud-icon.png" class="d-block m-auto">
            <h1>27 <span>C</span></h1>
            <p class="py-1">Cảm giác thật: 30 <span>C</span></p>
            <div class="row no-gutters shadow stats py-2">
              <div class="col-4 divider-right">
                <p class="m-0">Độ ẩm</p>
                <img src="./assets/img/humidity.png" class="d-block small-icon">
                <p class="m-0">67</p>
              </div>
              <div class="col-4 divider-right">
                <p class="m-0">Gió</p>
                <img src="./assets/img/wind.png" class="d-block small-icon">
                <p class="m-0">112(km/h)</p>
              </div>
              <div class="col-4">
                <p class="m-0">Tia UV</p>
                <img src="./assets/img/UV.png" class="d-block small-icon">
                <p class="m-0">78</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9 p-2">
        <div class="shadow-lg d-flex week box">
          <div class="day sunny active">
            <div class="forecast-container">
              <p>Thứ 4</p>
              <p>Ẩm và nhiều mây</p>
              <img src="./assets/img/sunny-day.png" class="d-block m-auto big-icon py-3">
              <h1>27 <span>C</span></h1>
              <p class="py-1">Cảm giác thật: 30 <span>C</span></p>
              <div class="row no-gutters shadow day-stats active py-2">
                <div class="col-4 divider-right">
                  <p class="m-0">Độ ẩm</p>
                  <img src="./assets/img/humidity.png" class="d-block small-icon">
                  <p class="m-0">67</p>
                </div>
                <div class="col-4 divider-right">
                  <p class="m-0">Gió</p>
                  <img src="./assets/img/wind.png" class="d-block small-icon">
                  <p class="m-0">112(km/h)</p>
                </div>
                <div class="col-4">
                  <p class="m-0">Tia UV</p>
                  <img src="./assets/img/UV.png" class="d-block small-icon">
                  <p class="m-0">78</p>
                </div>
              </div>
            </div>
          </div>
          <div class="day rainny">
            <div class="forecast-container">
              <p>Thứ 4</p>
              <p>Ẩm và nhiều mây</p>
              <img src="./assets/img/sunny-day.png" class="d-block m-auto big-icon py-3">
              <h1>27 <span>C</span></h1>
              <p class="py-1">Cảm giác thật: 30 <span>C</span></p>
              <div class="row no-gutters shadow day-stats py-2">
                <div class="col-4 divider-right">
                  <p class="m-0">Độ ẩm</p>
                  <img src="./assets/img/humidity.png" class="d-block small-icon">
                  <p class="m-0">67</p>
                </div>
                <div class="col-4 divider-right">
                  <p class="m-0">Gió</p>
                  <img src="./assets/img/wind.png" class="d-block small-icon">
                  <p class="m-0">112(km/h)</p>
                </div>
                <div class="col-4">
                  <p class="m-0">Tia UV</p>
                  <img src="./assets/img/UV.png" class="d-block small-icon">
                  <p class="m-0">78</p>
                </div>
              </div>
            </div>
          </div>
          <div class="day cloudy">
            <div class="forecast-container">
              <p>Thứ 4</p>
              <p>Ẩm và nhiều mây</p>
              <img src="./assets/img/sunny-day.png" class="d-block m-auto big-icon py-3">
              <h1>27 <span>C</span></h1>
              <p class="py-1">Cảm giác thật: 30 <span>C</span></p>
              <div class="row no-gutters shadow day-stats py-2">
                <div class="col-4 divider-right">
                  <p class="m-0">Độ ẩm</p>
                  <img src="./assets/img/humidity.png" class="d-block small-icon">
                  <p class="m-0">67</p>
                </div>
                <div class="col-4 divider-right">
                  <p class="m-0">Gió</p>
                  <img src="./assets/img/wind.png" class="d-block small-icon">
                  <p class="m-0">112(km/h)</p>
                </div>
                <div class="col-4">
                  <p class="m-0">Tia UV</p>
                  <img src="./assets/img/UV.png" class="d-block small-icon">
                  <p class="m-0">78</p>
                </div>
              </div>
            </div>
          </div>
          <div class="day sunny">
            <div class="forecast-container">
              <p>Thứ 4</p>
              <p>Ẩm và nhiều mây</p>
              <img src="./assets/img/sunny-day.png" class="d-block m-auto big-icon py-3">
              <h1>27 <span>C</span></h1>
              <p class="py-1">Cảm giác thật: 30 <span>C</span></p>
              <div class="row no-gutters shadow day-stats py-2">
                <div class="col-4 divider-right">
                  <p class="m-0">Độ ẩm</p>
                  <img src="./assets/img/humidity.png" class="d-block small-icon">
                  <p class="m-0">67</p>
                </div>
                <div class="col-4 divider-right">
                  <p class="m-0">Gió</p>
                  <img src="./assets/img/wind.png" class="d-block small-icon">
                  <p class="m-0">112(km/h)</p>
                </div>
                <div class="col-4">
                  <p class="m-0">Tia UV</p>
                  <img src="./assets/img/UV.png" class="d-block small-icon">
                  <p class="m-0">78</p>
                </div>
              </div>
            </div>
          </div>
          <div class="day sunny">
            <div class="forecast-container">
              <p>Thứ 4</p>
              <p>Ẩm và nhiều mây</p>
              <img src="./assets/img/sunny-day.png" class="d-block m-auto big-icon py-3">
              <h1>27 <span>C</span></h1>
              <p class="py-1">Cảm giác thật: 30 <span>C</span></p>
              <div class="row no-gutters shadow day-stats py-2">
                <div class="col-4 divider-right">
                  <p class="m-0">Độ ẩm</p>
                  <img src="./assets/img/humidity.png" class="d-block small-icon">
                  <p class="m-0">67</p>
                </div>
                <div class="col-4 divider-right">
                  <p class="m-0">Gió</p>
                  <img src="./assets/img/wind.png" class="d-block small-icon">
                  <p class="m-0">112(km/h)</p>
                </div>
                <div class="col-4">
                  <p class="m-0">Tia UV</p>
                  <img src="./assets/img/UV.png" class="d-block small-icon">
                  <p class="m-0">78</p>
                </div>
              </div>
            </div>
          </div>
          <div class="day rainny">
            <div class="forecast-container">
              <p>Thứ 4</p>
              <p>Ẩm và nhiều mây</p>
              <img src="./assets/img/sunny-day.png" class="d-block m-auto big-icon py-3">
              <h1>27 <span>C</span></h1>
              <p class="py-1">Cảm giác thật: 30 <span>C</span></p>
              <div class="row no-gutters shadow day-stats py-2">
                <div class="col-4 divider-right">
                  <p class="m-0">Độ ẩm</p>
                  <img src="./assets/img/humidity.png" class="d-block small-icon">
                  <p class="m-0">67</p>
                </div>
                <div class="col-4 divider-right">
                  <p class="m-0">Gió</p>
                  <img src="./assets/img/wind.png" class="d-block small-icon">
                  <p class="m-0">112(km/h)</p>
                </div>
                <div class="col-4">
                  <p class="m-0">Tia UV</p>
                  <img src="./assets/img/UV.png" class="d-block small-icon">
                  <p class="m-0">78</p>
                </div>
              </div>
            </div>
          </div>
          <div class="day rainny">
            <div class="forecast-container">
              <p>Thứ 4</p>
              <p>Ẩm và nhiều mây</p>
              <img src="./assets/img/sunny-day.png" class="d-block m-auto big-icon py-3">
              <h1>27 <span>C</span></h1>
              <p class="py-1">Cảm giác thật: 30 <span>C</span></p>
              <div class="row no-gutters shadow day-stats py-2">
                <div class="col-4 divider-right">
                  <p class="m-0">Độ ẩm</p>
                  <img src="./assets/img/humidity.png" class="d-block small-icon">
                  <p class="m-0">67</p>
                </div>
                <div class="col-4 divider-right">
                  <p class="m-0">Gió</p>
                  <img src="./assets/img/wind.png" class="d-block small-icon">
                  <p class="m-0">112(km/h)</p>
                </div>
                <div class="col-4">
                  <p class="m-0">Tia UV</p>
                  <img src="./assets/img/UV.png" class="d-block small-icon">
                  <p class="m-0">78</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 p-2 py-3">
        <h1 class="title">Tin tức</h1>
        <div class="row no-gutters py-5" style="height: 600px;">
          <div class="col-3 py-1 pr-1 con">
            <div class="a"></div>
          </div>
          <div class="col-3 p-1 con">
            <div class="a"></div>
          </div>
          <div class="col-3 p-1 con">
            <div class="a"></div>
          </div>
          <div class="col-3 py-1 pl-1 con">
            <div class="a"></div>
          </div>
          <div class="col-3 py-1 pr-1 con">
            <div class="a"></div>
          </div>
          <div class="col-3 p-1 con">
            <div class="a"></div>
          </div>
          <div class="col-3 p-1 con">
            <div class="a"></div>
          </div>
          <div class="col-3 py-1 pl-1 con">
            <div class="a"></div>
          </div>
        </div>
      </div>
      <div class="col-12 p-2">
        <h1 class="title">Tin tức nổi bật</h1>
      </div>
    </div>
  </div>

</div>
